<!-- Lavet af Jozsef -->
<div class="container-fluid d-flex flex-column align-items-center justify-content-center position-relative">
    <div class="bg-image-container text-center position-absolute top-100 start-50 translate-middle-x" style="z-index: 1;">
        <img src="/images/Logo_ElevPortalen.png" class="bg-image" style="max-width: 75%; height: auto; opacity: 0.1;">
    </div>

    <div class="text-container mb-5" style="text-align: center; z-index: 2;">
        <h3 class="w-100"><span class="badge bg-secondary m-5">Velkommen Admin</span></h3>
    </div>
</div>

@code {

}
