@if (IsVisible)
{
    <div class="container-fluid">
        <div class="message-content">
            @Message
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public string? Message { get; set; } = "TestMessage";

    protected override async Task OnInitializedAsync()
    {
        // // Hide the component after 3 seconds
       await Task.Delay(3000).ContinueWith(_ => IsVisible = false);
    }
}