@page
@model RegisterModel

@*Lavet af Jozsef*@

<div class="container text-center">
    <div class="row justify-content-center pt-lg-5 pt-md-4 pt-sm-2">
        <div class="col-md-12 col-lg-12">
            <div class="card shadow-sm">
                <div class="w-100 bg-dark text-white text-center"> <a class="navbar-brand" href="/" style="color:white; font-size:25px; font-weight:400;">ElevPortalen</a></div>
                <div class="card-body" style="min-height:544px;">
                    <div class="d-md-flex align-items-center">
                        <!-- Image on the left side -->
                        <div class="text-center mb-4 mb-md-0 col-xl-6 col-md-6 col-sm-12">
                            <img src="/images/Logo_ElevPortalen-noback.png" class="img" style="max-width: 95%; height: auto; opacity: 0.1;">
                        </div>

                        <!-- Form on the right side -->
                        <div class="login-wrap p-4 p-md-5 col-xl-6 col-md-6 col-sm-12">
                            <!--Form-->
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <h2>Register account</h2>
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Input.Email">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.Password">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                @*Added by Jozsef*@

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelectGrid" asp-for="Input.Role">
                                        <option value="Student">Student</option>
                                        <option value="Company">Company</option>
                                     @*    <option value="Admin">Admin</option> *@
                                    </select>
                                    <label asp-for="Input.Role"></label>
                                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                                </div>
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-outline-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
