@inject AuthenticationStateProvider AuthenticationStateProvider

@*Remade by Jozsef*@
<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <span class="oi oi-monitor" style="color:white;" aria-hidden="true"></span>
        @if (!@IconMenuActive)
        {
            <a class="navbar-brand" href="">ElevPortalen</a>
        }
        <button title="Navigation menu" class="navbar-toggler bg-dark" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Hjem</label>
                }
            </NavLink>
        </div>
        <AuthorizeView Roles="Company,Student">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/profile" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span>
                    @if (!@IconMenuActive)
                    {
                        <label>Profil</label>
                    }
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admindashboard" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><i class="fa-solid fa-user-gear"></i></span>
                    @if (!@IconMenuActive)
                    {
                        <label>Dashboard</label>
                    }
                </NavLink>
            </div>
        </AuthorizeView>

    </nav>

    <div class="bottom-row">

        <AuthorizeView>
            <Authorized>
                <form method="post" action="Identity/Account/Logout">
                    <button type="submit" class="btn btn-link" style="color:red">Log out</button>
                </form>
                <a href="Identity/Account/Manage" style="color:white">Hello, @context.User.Identity?.Name!</a>
            </Authorized>
            <NotAuthorized>
                <a href="Identity/Account/Register" class="btn btn-link" style="color:white">Register</a>
                <a href="Identity/Account/Login" class="btn btn-link" style="color:white">Log in</a>
            </NotAuthorized>
        </AuthorizeView>

        @*     <div class="icon-menu-arrow">
        @if (!@IconMenuActive)
        {
        <span class="oi oi-arrow-left" style="color: white;" @onclick="ToggleIconMenu"></span>
        }
        else
        {
        <span class="oi oi-arrow-right" style="color: white;" @onclick="ToggleIconMenu"></span>
        }
        </div> *@
    </div>


</div>


@code {

    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    private bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }

}
