<!-- Lavet af jozsef -->
@using ElevPortalen.Pages.AlertBox
@using ElevPortalen.Pages.SearchBox
@using ElevPortalen.Services;
@using ElevPortalen.Data;
@using ElevPortalen.Models;
@using System;
@using ElevPortalen.Pages.ProfilePublicView

@inject CompanyService _companyService
@inject NavigationManager NavManager
@inject IJSRuntime jsRuntime

<PageTitle>Companies</PageTitle>

<!--Search container on top-->
<div class="row">
    <div class="col-lg-12">
        <!-- this is the searchBox component here-->
        <div class="d-flex justify-content-center w-100 mb-4">
            <SearchBox Items="_companyList" OnSearch="onSearch"></SearchBox>
        </div>
    </div>
</div>

@if (!isLoaded)
{
    <!-- Skeleton layout for loading -->
    <div class="row d-flex justify-content-center">
        @for (var i = 0; i < 9; i++)
        {
            <div class="skeleton-card m-2 p-0" style="max-width: 450px;">
                <div class="row g-0">
                    <div class="col-md-4 image border">
                        <div class="skeleton-image"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="skeleton-text"></div>
                            <p class="card-text">
                                <div class="skeleton-text"></div>
                            </p>
                            <p class="card-text">
                                <div class="skeleton-text"></div>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-center align-items-center">
                    <div class="skeleton-text"></div>
                </div>
            </div>
        }
    </div>
}
else if (!_companyList.Any())
{
    <AlertBox IsVisible=true Message="Ingen virksomhed er registreret endnu." waitForSeconds="0" isWarning=true></AlertBox>
}
else
{
    <!-- Display Company-related content -->
    <div class="row d-flex justify-content-center">
        @foreach (var data in _companySearchResult)
        {
            <div class="card bg-dark bg-gradient  text-white m-2 p-0" style="max-width: 450px; cursor:pointer" @onclick="() => NavigateToCompanytDetails(data.CompanyId)">
                <div class="row g-0">
                    <div class="col-md-4 image border">
                        @if (!string.IsNullOrEmpty(data.profileImage) && ImageExistOnDisk(data.profileImage))
                        {
                            <img class="img-fluid rounded-start" src="images/ProfileImages/@data.profileImage" style="width: 150px; min-height:150px; max-height: 150px;">
                        }
                        else
                        {
                            <img class="img-fluid rounded-start" src="images/DefaultAvatar.jpg" style="width: 100%; min-height:150px; max-height: 150px;">
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="fw-bold">@data.CompanyName</h4>
                        </div>
                        <p class="card-text">
                            <small class="text-body-secondary">@data.Email</small>
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">@data.CompanyAddress</small>
                        </p>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-center align-items-center bg-gradient">
                    <p class="card-text fw-bold"> Leder efter <span class="text-warning">@data.Preferences</span> elev</p>
                </div>

            </div>

        }
    </div>
} 

<AlertBox @ref="_alertBox" />

@code {

    #region Initialize

    private List<CompanyModel> _companyList = new List<CompanyModel>(); //List of Companies
    private List<CompanyModel> _companySearchResult = new List<CompanyModel>(); // List searchresult
    private AlertBox _alertBox = new AlertBox(); //AlertBox

    private bool isLoaded = false;
    bool exist = false;

    #endregion

    #region OnInitialize
    protected override async Task OnInitializedAsync()
    {
        isLoaded = false;
        await ReadVisibleCompanyData();
    }
    #endregion

    #region Read the data from company database if the profile visible
    public async Task ReadVisibleCompanyData()
    {
        _companySearchResult.Clear();
        //Getting the data
        _companyList = await _companyService.ReadAllVisibleCompanyData();
        // Filling up the searchresult with list
        _companySearchResult = _companyList;
         //_companyList.Clear();

        isLoaded = true;
    }
    #endregion

    #region search function
    void onSearch(string? searchTerm)
    {
        // if the input field empty
        if (string.IsNullOrEmpty(searchTerm))
        {
            _companySearchResult = _companyList;
        }
        else
        {
            _companySearchResult = _companyList.Where(company =>
                (company.CompanyName?.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ?? false) ||
                (company.Preferences?.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ?? false) ||
                (company.CompanyAddress?.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ?? false) || 
                (company.Description?.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)?? false)
            ).ToList();
        }    
    }
    #endregion

    #region navigate to detailed Public profile view with Id (CompanyId)
    private void NavigateToCompanytDetails(int companyId)
    {
        NavManager.NavigateTo($"/viewdetails/{companyId}");
    }
    #endregion

    #region Check for the image existing on the disk
    private bool ImageExistOnDisk(string imageName)
    {
        // path based on folders
        var imagePath = $"wwwroot/images/ProfileImages/{imageName}";
        return File.Exists(imagePath);
    }
    #endregion
}
