/* Styles for skeleton loading */
.skeleton-social-icons {
    width: 200px; 
    height: 30px; 
    background-color: #f0f0f0; /* Light gray */
    border-radius: 5px;
}

.skeleton-user-name {
    width: 200px; 
    height: 20px; 
    background-color: #f0f0f0; /* Light gray */
    border-radius: 5px;
}

.skeleton-profile-image {
    width: 150px;
    height: 150px; 
    background-color: #f0f0f0; /* Light gray */
    border-radius: 50%;
}

.skeleton-user-speciality {
    width: 120px; 
    height: 15px; 
    background-color: #f0f0f0; /* Light gray */
    border-radius: 5px;
}

.skeleton-profile-buttons {
    width: 200px; 
    height: 30px; 
    background-color: #f0f0f0; /* Light gray */
    border-radius: 5px;
}

.skeleton-user-details {
    height: 200px;
    background-color: #f0f0f0; /* Light gray */
    border-radius: 5px;
}

.skeleton-description {
    height: 100px; 
    background-color: #f0f0f0;
    border-radius: 5px;
}

.skeleton-skills {
    height: 50px; 
    background-color: #f0f0f0; /* Light gray */
    border-radius: 5px;
}


/* Styles for skeleton loading */
.skeleton-profile-image,
.skeleton-user-name,
.skeleton-user-speciality,
.skeleton-profile-buttons,
.skeleton-user-details,
.skeleton-description,
.skeleton-skills {
    background-color: #f0f0f0; /* Light gray */
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)); /* Shimmer effect */
    background-size: 200% 100%; /* Size of the background gradient */
    animation: shimmer 2s infinite linear; /* Shimmer animation */
}

@keyframes shimmer {
    0% {
        background-position: -200% 0; /* Start position of the gradient */
    }

    100% {
        background-position: 200% 0; /* End position of the gradient */
    }
}
