<!-- Lavet af Jozsef -->
 <!--Social container on top-->
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-2">
            <div class="card-body shadow-sm">
                <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row">
                    <!-- Icons -->
                    <div class="d-flex mb-sm-0">
                        <!-- Skeleton for social icons -->
                        <div class="skeleton-social-icons"></div>
                    </div>
                    <!-- Skeleton for user name -->
                    <h5 class="fw-medium mb-0 mx-lg-4 mx-sm-1"><div class="skeleton-user-name"></div></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- User profile container -->
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-2 shadow-sm">
            <div class="card-body text-center">
                <!-- Skeleton for user profile image -->
                <div class="skeleton-profile-image"></div>
                <!-- Skeleton for user information -->
                <h5 class="my-3"><div class="skeleton-user-name"></div></h5>
                <p class="text-muted mb-3"><div class="skeleton-user-speciality"></div></p>
                <!-- Skeleton for buttons and confirmation checkbox -->
                <div class="skeleton-profile-buttons"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-2">
            <div class="card-body shadow-sm">
                <!-- Skeleton for user details -->
                <div class="skeleton-user-details"></div>
            </div>
        </div>
    </div>
</div>

<!-- Description -->
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-2">
            <div class="card-body shadow-sm">
                <!-- Skeleton for description -->
                <div class="skeleton-description"></div>
            </div>
        </div>
    </div>
</div>

<!-- Skills section -->
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-2">
            <div class="card-body shadow-sm">
                <!-- Skeleton for skills -->
                <div class="skeleton-skills"></div>
            </div>
        </div>
    </div>
</div>