<!-- Lavet af Jozsef -->
@using ElevPortalen.Pages.AlertBox
@using ElevPortalen.Services;

@inject StudentService _studentService
@inject CompanyService _companyService

<div class="container-fluid d-flex flex-column align-items-center justify-content-center position-relative">
    <div class="bg-image-container text-center position-absolute top-50 start-50 translate-middle-x" style="z-index: 1;">
        <img src="/images/Logo_ElevPortalen.png" class="bg-image" style="max-width: 75%; height: auto; opacity: 0.1;">
    </div>

    <div class="text-container mb-5 mt-5" style="text-align: center; z-index: 2;">
        <h1>Velkommen til ElevPortalen</h1>
        <div class="d-inline-flex align-items-center">
            <a href="/Identity/Account/Login" class="btn btn-outline-dark btn-sm mb-3 mx-2" role="button">Login</a>
            <p> eller </p>
            <a href="/Identity/Account/Register" class="btn btn-outline-dark btn-sm mb-3 mx-2" role="button">Registrer</a>
            <p> dig først</p>

        </div>
        <div>
            <p> Studenter i databasen @studentCount</p>
            <p> Firmaer i databasen @companyCount</p>
        </div>
    </div>
</div>

<AlertBox @ref="_alertBox"></AlertBox>

@code {
    private int studentCount = 0;
    private int companyCount = 0;
    AlertBox _alertBox = new AlertBox();

    #region OnInitialize
    protected override async Task OnInitializedAsync()
    {
        try
        {
            studentCount = await _studentService.GetStudentCountAsync();
            companyCount = await _companyService.GetCompaniesCountAsync();
        }
        catch (Exception ex)
        {
            _alertBox.SetMessage(true, $"An error occurred initializing the Default Home Page.",0, danger:true);
            throw new InvalidOperationException($"{ex.Message}");
        }
    }
    #endregion

}
