<!-- Lavet af Jozsef -->
@page "/viewdetails/{Id:int}"

@using ElevPortalen.Pages.AlertBox
@using ElevPortalen.Pages.ProfilePublicView.CompanyView
@using ElevPortalen.Pages.ProfilePublicView.StudentView

@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Details</PageTitle>

<div class="container">

    <AuthorizeView Roles="Company,Student">

        <Authorized>
            @if (context.User.IsInRole(Company))
            {
                <ViewStudent Id="Id"></ViewStudent>
            }
            else if (context.User.IsInRole(Student))
            {
                <ViewCompany Id="Id"></ViewCompany>   
            }
            else
            {
                _alertBox.SetMessage(true, "Error in viewDetails component! - Role not assigned or something is wrong with the roles.", 0, danger: true);
            }
        </Authorized>

        <NotAuthorized>
            <AlertBox IsVisible=true Message="You need to log in first. Or this Role is restricted to view this page!" isWarning=true waitForSeconds="0"></AlertBox>
        </NotAuthorized>

    </AuthorizeView>


</div>
<AlertBox @ref="_alertBox" />

@code {
    [Parameter]
    public int Id { get; set; }
    private AuthenticationState? _authState;
    private AlertBox _alertBox = new AlertBox(); //AlertBox

    private readonly string Company = "Company";
    private readonly string Student = "Student";

    #region Oninitialize
    protected override async Task OnInitializedAsync()
    {
        await Authenticate();
    }
    #endregion

    #region Authentivate user and read data according to Role
    private async Task Authenticate()
    {
        // Getting the user current authentication state.
        _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
    #endregion

}